{% extends "base.html.j2" %}

{%block title%}Login{%endblock%}

{% block obsah %}

<h1>Login</h1>

<form method="post">
 login:<br>
    <input type="text" name="login" > <br>
 passwd:<br> 
    <input type="password" name="passwd" >
    <input type="submit" >
    <Button>Odeslat</button>
</form>




{% endblock obsah %}

